In [1]:
import sklearn
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv("/Users/krithika/Desktop/train.csv")
test_df = pd.read_csv("/Users/krithika/Desktop/test.csv")

In [3]:
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
import re

REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")

In [6]:
import preprocessor as p

def clean_tweets(df):
  tempArr = []
  for line in df:
    
    tmpL = p.clean(line)
    
    tmpL = REPLACE_NO_SPACE.sub("", tmpL.lower()) # convert all tweets to lower cases
    tmpL = REPLACE_WITH_SPACE.sub(" ", tmpL)
    tempArr.append(tmpL)
  return tempArr

In [7]:
train_tweet = clean_tweets(train_df["tweet"])
train_tweet_df = pd.DataFrame(train_tweet)

In [9]:
train_df["clean_tweet"] = train_tweet_df

train_df.head()

,id,label,tweet,clean_tweet
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for credit i cant use cause they dont o...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,i love u take with u all the time in ur
4,5,0,factsguide: society now #motivation,factsguide society now

In [10]:
test_tweet = clean_tweets(test_df["tweet"])
test_tweet_df = pd.DataFrame(test_tweet)

In [11]:
test_df["clean_tweet"] = test_tweet_df

test_df.head()

,id,tweet,clean_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,to find
1,31964,@user #white #supremacists want everyone to s...,want everyone to see the new and heres why
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",rd to my amazing hilarious eli ahmir uncle dav...

In [13]:
from sklearn.model_selection import train_test_split


y = train_df.label.values


x_train, x_test, y_train, y_test = train_test_split(train_df.clean_tweet.values, y, 
                                                    stratify=y, 
                                                    random_state=1, 
                                                    test_size=0.3, shuffle=True)

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
documents = ["Hi this is me",
             "I like ML very much!",
             "Let's check this"]

vectorizer = CountVectorizer()


document_term_matrix = vectorizer.fit_transform(documents)


pd.DataFrame(document_term_matrix.toarray(), columns = vectorizer.get_feature_names())

   check  hi  is  let  like  me  ml  much  this  very
0      0   1   1    0     0   1   0     0     1     0
1      0   0   0    0     1   0   1     1     0     1
2      1   0   0    1     0   0   0     0     1     0

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
vectorizer = CountVectorizer(binary=True, stop_words='english')

vectorizer.fit(list(x_train) + list(x_test))

x_train_vec = vectorizer.transform(x_train)
x_test_vec = vectorizer.transform(x_test)

In [22]:
from sklearn import svm
svm = svm.SVC(kernel = 'linear', probability=True)

prob = svm.fit(x_train_vec, y_train).predict_proba(x_test_vec)

y_pred_svm = svm.predict(x_test_vec)

In [24]:
from sklearn.metrics import accuracy_score
print("Accuracy score for SVC is: ", accuracy_score(y_test, y_pred_svm) * 100, '%')

Accuracy score for SVC is:  94.86912086766085 %